<ion-menu [content]="content">
    <ion-content>
      
      <div class="menuHeader" (click)="openPageAvatar()">
        <img class="image" src="assets/img/logo.png">
        
          <div class="card-title" *ngIf="hasLogin">Olá {{"Nome"}}</div>
          <div class="card-subtitle" *ngIf="hasLogin">Toque Para Acessar o Perfil</div>
          <div class="card-title" *ngIf="!hasLogin">Bem Vindo(a)</div>
          <div class="card-subtitle" *ngIf="!hasLogin">Toque Para Entrar</div>
  
      </div>
      <div class="menuHeaderSpacer2"></div>
  
      <ion-list>
  
        <ion-item text-wrap menuClose="" (click)="openHomePage()">
          <ion-icon name="home" item-left color="amazonia" large></ion-icon>
          <h2> Inicio </h2>
        </ion-item>
        <ion-item text-wrap menuClose="" (click)="openCartPage()">
          <ion-icon name="cart" item-left color="amazonia" large></ion-icon>
          <h2> Carrinho </h2>
        </ion-item>
        <ion-item *ngIf="hasLogin" text-wrap menuClose="" (click)="openOrdersPage()">
          <ion-icon name="cube" item-left color="amazonia" large></ion-icon>
          <h2> Pedidos </h2>
        </ion-item>
        <ion-item *ngIf="hasLogin" text-wrap menuClose="" (click)="logout()">
          <ion-icon name="log-out" item-left color="amazonia" large></ion-icon>
          <h2> Sair </h2>
        </ion-item>
        
        <ion-item text-wrap menuClose="" (click)="openAboutPage()">
          <ion-icon name="information-circle" item-left color="amazonia" large></ion-icon>
          <h2> Sobre </h2>
        </ion-item>
    
      </ion-list>
      <div style="margin-left: 20%;margin-top:100%;">
        <ion-note>
          Versão : 0.0.5.0 ALFA
        </ion-note>
      </div>
  
    </ion-content>
  
  </ion-menu>
  
  <ion-nav [root]="tabsPage" #content></ion-nav>